	// Neutral
	white:                                          #FFFFFF,
	guyabano:                                       #F8F8F8,
	cultured:                                       #F5F5F5,
	gainsboro:                                      #DCDCDC,
	light-silver:                                   #D8D8D8,
	aluminum:                                       #D6D6D6,
	light-gray:                                     #D3D3D3,
	american-silver:                                #CFCFCF,
	chinese-silver:                                 #CCCCCC,
	argent:                                         #C0C0C0,
	gray-x11:                                       #bebebe,
	philippine-silver:                              #B3B3B3,
	silver-chalice:                                 #ACACAC,
	dark-gray--x11:                                 #A9A9A9,
	quick-silver:                                   #A6A6A6,
	spanish-gray:                                   #989898,
	philippine-gray:                                #8C8C8C,
	trolley-grey:                                   #808080,
	sonic-silver:                                   #757575,
	dim-gray:                                       #696969,
	granite-gray:                                   #676767,
	davys-grey:                                     #555555,
	jet:                                            #343434,
	dark-charcoal:                                  #333333,
	eerie-black:                                    #1B1B1B,
	chinese-black:                                  #141414,
	vampire-black:                                  #080808,
	black:                                          #000000,

	// Red color (hue range 355-10°)
	snow:                                           #FFFAFA,
	misty-rose:                                     #FFE4E1,
	light-red:                                      #FFCCCB,
	lotion-pink:                                    #ECCFCF,
	baby-pink:                                      #F4C2C2,
	spanish-pink:                                   #F7BFBE,
	melancholy:                                     #FDBCB4,
	dust-storm:                                     #E5CCC9,
	melon:                                          #FEBAAD,
	washed-out-crimson--arazome-dye:                #FFB3A7,
	light-salmon-pink:                              #FF9999,
	american-pink:                                  #FF9899,
	peach-burst:                                    #F39998,
	coral-reef--valspar-paint-color:                #F6A494,
	pale-chestnut:                                  #DDADAF,
	tulip:                                          #FF878D,
	pastel-pink:                                    #DEA5A4,
	one-kin--ikkonzome:                             #f08f90,
	ibis-wing-color--tokiha-iro:                    #F58F84,
	salmon-rose:                                    #E7968B,
	silver-pink:                                    #C4AEAD,
	congo-pink:                                     #F88379,
	light-coral:                                    #F08080,
	salmon:                                         #FA8072,
	coral-reef:                                     #FD7C6E,
	begonia:                                        #FA6E79,
	pastel-red:                                     #FF6961,
	bittersweet:                                    #FE6F5E,
	dawn-color--akebono-iro:                        #FA7B62,
	tuscany:                                        #C09999,
	new-york-pink:                                  #D7837F,
	candy-pink:                                     #E4717A,
	thrice-dyed-crimson--jinzamomi:                 #F7665A,
	sunset-orange:                                  #FD5E53,
	rosy-brown:                                     #BC8F8F,
	orange-red--crayola:                            #FF5349,
	coral-color--sango-iro:                         #F8674F,
	tomato:                                         #FF6347,
	tart-orange:                                    #FB4D46,
	old-rose:                                       #C08081,
	sunburnt-cyclops:                               #FF404C,
	coral-red:                                      #FF4040,
	ogre-odor:                                      #FD5240,
	terra-cotta:                                    #E2725B,
	orange-soda:                                    #FA5B3D,
	portland-orange:                                #FF5A36,
	fire-opal:                                      #E95C4B,
	fuzzy-wuzzy:                                    #CC6666,
	carmine-pink:                                   #EB4C42,
	cherry-blossom-mouse--sakuranezumi:             #AC8181,
	indian-red:                                     #CD5C5C,
	blood-red--benihi:                              #F35336,
	vivaldi-red:                                    #EF3939,
	orange-soda-dark:                               #EB593D,
	jelly-bean:                                     #DA614E,
	lychee:                                         #DC5349,
	google-chrome-red:                              #DE5246,
	deep-carmine-pink:                              #EF3038,
	cinnabar:                                       #E34234,
	strawberry-daiquiri:                            #D9463E,
	copper-penny:                                   #AD6F69,
	water-persimmon--mizugaki:                      #B56C60,
	burnished-brown:                                #A17A74,
	english-vermillion:                             #CC474B,
	jasper:                                         #D73B3E,
	dark-coral:                                     #CD5B45,
	cedar-chest:                                    #C95A49,
	cg-red:                                         #E03C31,
	red--ryb:                                       #FE2712,
	bittersweet-shimmer:                            #BF4F51,
	permanent-geranium-lake:                        #E12C2C,
	long-spring--choshun-iro:                       #B95754,
	electric-brown:                                 #B56257,
	huawei-red--1987-2018:                          #ED1C24,
	glazed-persimmon--terigaki:                     #D34E36,
	verizon-red--2000-2015:                         #EC1C24,
	strawberry-red:                                 #C83F49,
	lust:                                           #E62020,
	vivid-red:                                      #F70D1A,
	giants-club:                                    #B05C52,
	deep-chestnut:                                  #B94E48,
	ferrari-red:                                    #FF2800,
	scarlet:                                        #FF2400,
	candy-apple-red:                                #FF0800,
	red:                                            #FF0000,
	red-orange--shojohi:                            #DC3023,
	madder-lake:                                    #CC3336,
	persian-red:                                    #CC3333,
	copper-rose:                                    #996666,
	maximum-red:                                    #D92121,
	rose-vale:                                      #AB4E52,
	middle-red-purple:                              #A55353,
	dark-chestnut:                                  #986960,
	vermilion:                                      #D9381E,
	redwood:                                        #A45A52,
	english-red:                                    #AB4B52,
	amaranth-red:                                   #D3212D,
	scarlet--ake-blood:                             #CF3A24,
	plum-blossom-mouse--umenezumi:                  #97645A,
	fire-engine-red:                                #CE2029,
	rose-taupe:                                     #905D5D,
	international-orange--golden-gate-bridge:       #C0362C,
	pure-crimson--akabeni-dye:                      #C3272B,
	ku-crimson:                                     #E8000D,
	wilted-brown:                                   #AB4C3D,
	sappanwood-incense--suoko:                      #A24F46,
	electric-red:                                   #E60000,
	greyed-red--ginshu:                             #BC2D29,
	nintendo-red:                                   #E4000F,
	medium-carmine:                                 #AF4035,
	dark-pastel-red:                                #C23B22,
	deep-taupe:                                     #7E5E60,
	sweet-brown:                                    #A83731,
	red-cola:                                       #B62020,
	rosso-corsa:                                    #D40000,
	firebrick:                                      #B22222,
	verizon-red:                                    #CD040B,
	metallic-red:                                   #A62C2B,
	venetian-red:                                   #C80815,
	smoky-topaz:                                    #933D41,
	dove-feather-grey--hatobanezumi:                #755D5B,
	auburn:                                         #A52A2A,
	carnelian:                                      #B31B1B,
	upsdell-red:                                    #AE2029,
	red-brown--edocha:                              #A13D2D,
	chinese-brown:                                  #AB381F,
	chestnut:                                       #954535,
	persimmon-juice-color--kakishibu-iro:           #934337,
	rambutan-red:                                   #A72127,
	brandy:                                         #87413F,
	international-orange--engineering:              #BA160C,
	tuscan-red:                                     #7C4848,
	american-brown:                                 #804040,
	red-birch--benikaba:                            #9D2B22,
	ue-red:                                         #BA0001,
	tomato-sauce:                                   #B21807,
	red-kite--benitobi:                             #913228,
	red-brown--kiriume:                             #8B352D,
	blood--animal:                                  #A41313,
	dyestalk-red--bengara-iro:                      #913225,
	wenge:                                          #645452,
	vivid-auburn:                                   #922724,
	deep-scarlet--kokiake:                          #7B3B3A,
	bole:                                           #79443B,
	painite:                                        #6B4947,
	spartan-crimson:                                #9E1316,
	deep-coffee:                                    #704241,
	rufous:                                         #A81C07,
	mordant-red-19:                                 #AE0C00,
	burnt-umber:                                    #8A3324,
	liver:                                          #674C47,
	rose-ebony:                                     #674846,
	red--shinshu:                                   #8F1D21,
	garnet:                                         #733635,
	dark-candy-apple-red:                           #A40000,
	strawberry-jam:                                 #8B171A,
	ou-crimson-red:                                 #841617,
	crimson-red:                                    #990000,
	falu-red:                                       #801818,
	cypress-bark-color--hihada-iro:                 #752E23,
	cypress-bark-red--benihibata:                   #6F3028,
	sangria:                                        #92000A,
	blood:                                          #8A0303,
	up-maroon:                                      #7B1113,
	persian-plum:                                   #701C1C,
	dark-red:                                       #8B0000,
	red-bean-color--azuki-iro:                      #672422,
	wisteria-and-burnt-bamboo--fujisusutake:        #4D3B3C,
	deep-red:                                       #850101,
	brown-rat-grey--dobunezumi:                     #4B3C39,
	deep-maroon:                                    #820000,
	maroon--ebicha:                                 #5E2824,
	mulberry-dye--kuwazome:                         #59292C,
	barn-red:                                       #7C0A02,
	chestnut-leather-brown--kurikawacha:            #60281E,
	caput-mortuum:                                  #592720,
	brown-coffee:                                   #4A2C2A,
	philippine-brown:                               #5D1916,
	blood--organ:                                   #630F0F,
	old-burgundy:                                   #43302E,
	black-coffee:                                   #3B2F2F,
	blood-red:                                      #660000,
	black-kite--kurotobi:                           #351E1C,
	dark-sienna:                                    #3C1414,
	bulgarian-rose:                                 #480607,
	dark-chocolate:                                 #490206,
	black-bean:                                     #3D0C02,
	licorice:                                       #1A1110,

	// Red orange (hue range 11-20°)
	cherry-blossom-color--sakura-iro:               #FCC9B9,
	zinnwaldite:                                    #EBC2AF,
	vivid-tangerine:                                #FFA089,
	poppy-petal:                                    #F6A08C,
	light-salmon:                                   #FFA07A,
	meat-color--shishi-iro:                         #F9906F,
	atomic-tangerine:                               #FF9966,
	dark-salmon:                                    #E9967A,
	sawtooth-oak--akashirotsurubami:                #EC956C,
	middle-red:                                     #E58E73,
	rinsed-out-red--araishu:                        #FF7952,
	coral:                                          #FF7F50,
	red-incense-colored--akako-iro:                 #F07F5E,
	brewed-mustard-brown--tokigaracha:              #E68364,
	outrageous-orange:                              #FF6E4A,
	rich-gardenia--kokikuchinashi:                  #F57F4F,
	mango-tango:                                    #FF8243,
	copper--crayola:                                #DA8A67,
	washed-out-persimmon--araigaki:                 #EC8254,
	mandarin:                                       #F37A48,
	burnt-sienna:                                   #E97451,
	smashed-pumpkin:                                #FF6D3A,
	orange--crayola:                                #FF7538,
	chinese-orange:                                 #F37042,
	ochre--otan:                                    #FF4E20,
	orange-red:                                     #FF681F,
	copper-red:                                     #CB6D51,
	brave-orange:                                   #FF631C,
	giants-orange:                                  #FE5A1D,
	overdyed-red-brown--sohi:                       #E35C38,
	deep-carrot-orange:                             #E9692C,
	medium-vermilion:                               #D9603B,
	muddy-brown:                                    #CB6649,
	cinereous:                                      #98817B,
	orioles-orange:                                 #FB4F14,
	microsoft-red:                                  #F04E1F,
	halloween-orange:                               #EB6123,
	vivid-vermilion:                                #E56024,
	blast-off-bronze:                               #A57164,
	flame:                                          #E25822,
	vivid-red-tangelo:                              #DF6124,
	electric-orange:                                #FF3503,
	walnut-dyed--kurumizome:                        #9F7462,
	orange--pantone:                                #FF5800,
	mystic-red:                                     #FF5500,
	international-orange--aerospace:                #FF4F00,
	red-orange--color-wheel:                        #FF4500,
	taobao-orange:                                  #FF4200,
	coquelicot:                                     #FF3800,
	willpower-orange:                               #FD5800,
	xiaomi-orange:                                  #FD4900,
	brown-sugar:                                    #AF6E4D,
	tangelo:                                        #F94D00,
	spicy-red-brown--karacha:                       #B35C44,
	brown--crayola:                                 #AF593E,
	italian-roast:                                  #906652,
	birch-brown--kabacha:                           #B14A30,
	cattail-color--kaba-iro:                        #B64925,
	faded-spicy-red-brown--sodenkaracha:            #9B533F,
	spicy-mix:                                      #8B5F4D,
	sinopia:                                        #CB410B,
	coconut:                                        #965A3E,
	red-ochre-color--taisha-iro:                    #9F5233,
	polished-brown--tonocha:                        #985538,
	clove-brown--chojicha:                          #8F583C,
	chinese-red--brick:                             #AA381E,
	rust:                                           #B7410E,
	plain-mouse--sunezumi:                          #6E5F57,
	sparrow-brown--suzumecha:                       #8C4736,
	mahogany:                                       #C04000,
	metallic-brown:                                 #AC4313,
	lemon-iced-tea:                                 #BD3000,
	green-tea-colored--sencha-iro:                  #824B35,
	deep-dumpling:                                  #9B351B,
	kobe:                                           #882D17,
	citrine-brown:                                  #933709,
	brown:                                          #993300,
	smokey-topaz:                                   #832A0D,
	dark-liver--horses:                             #543D37,
	liver--organ:                                   #6C2E1F,
	royal-brown:                                    #523B35,
	kenyan-copper:                                  #7C1C05,
	sumac-dyed--korozen:                            #592B1F,
	boiled-red-bean-brown--momoshiocha:             #542D24,
	acajou:                                         #4C2F27,
	indigo-ink-brown--aisumicha:                    #393432,
	seal-brown:                                     #59260B,
	betel-nut-dye--binrojizome:                     #352925,
	french-puce:                                    #4E1609,
	scorched-brown--kogecha:                        #351F19,
	legal-dye--kenpozome:                           #2E211B,
	root-beer:                                      #290E05,

	// Orange & Brown (hue range 21-40°)
	floral-white:                                   #FFFAF0,
	seashell:                                       #FFF5EE,
	penguin-white:                                  #F5F3EF,
	old-lace:                                       #FDF5E6,
	linen:                                          #FAF0E6,
	isabelline:                                     #F4F0EC,
	papaya-whip:                                    #FFEFD5,
	antique-white:                                  #FAEBD7,
	flesh:                                          #FFE9D1,
	blanched-almond:                                #FFEBCD,
	lumber:                                         #FFE4CD,
	unbleached-silk:                                #FFDDCA,
	platinum:                                       #E5E4E2,
	champagne:                                      #F7E7CE,
	bisque:                                         #FFE4C4,
	champagne-pink:                                 #F1DDCF,
	very-pale-orange:                               #FFDFBF,
	almond:                                         #EFDECD,
	white-coffee:                                   #E6E0D4,
	peach-puff:                                     #FFDAB9,
	peach:                                          #FFE5B4,
	sandy-tan:                                      #FDD9B5,
	light-orange:                                   #FED8B1,
	feldspar:                                       #FDD5B1,
	timberwolf:                                     #DBD7D2,
	navajo-white:                                   #FFDEAD,
	apricot:                                        #FBCEB1,
	bone:                                           #E3DAC9,
	wheat:                                          #F5DEB3,
	peach-yellow:                                   #FADFAD,
	deep-peach:                                     #FFCBA4,
	deep-champagne:                                 #FAD6A5,
	desert-sand:                                    #EDC9AF,
	caramel:                                        #FFD59A,
	peach-orange:                                   #FFCC99,
	durian-white:                                   #E6D0AB,
	manila:                                         #E7C9A9,
	macaroni-and-cheese:                            #FFBD88,
	douban-light-yellow:                            #F7C58E,
	pale-silver:                                    #C9C0BB,
	eggshell-paper-colored--torinoko-iro:           #E2BE9F,
	topaz:                                          #FFC87C,
	dark-vanilla:                                   #D1BEA8,
	very-light-tangelo:                             #FFB077,
	light-yellow--asagi:                            #F7BB7D,
	pale-persimmon--usugaki:                        #FCA474,
	mellow-apricot:                                 #F8B878,
	gold--crayola:                                  #E6BE8A,
	stylish-persimmon--sharegaki:                   #FFA26B,
	tumbleweed:                                     #DEAA88,
	burlywood:                                      #DEB887,
	pale-incense--usuko:                            #FFA565,
	middle-yellow-red:                              #ECB176,
	tan:                                            #D2B48C,
	rajah:                                          #FBAB60,
	cape-jasmine-or-gardenia--kuchinashi:           #FFB95A,
	fawn:                                           #E5AA70,
	sandy-brown:                                    #F4A460,
	plum-dyed--umezome:                             #FA9258,
	mocha:                                          #BEA493,
	steamed-chestnut-color--mushikuri-iro:          #D3B17D,
	floral-leaf-colored--hanaba-iro-or-kayou-iro:   #FFB94E,
	chickadee:                                      #FFC34D,
	white-mouse--shironezumi:                       #B9A193,
	light-french-beige:                             #C8AD7F,
	pastel-orange:                                  #FFB347,
	tan--crayola:                                   #D99A6C,
	neon-carrot:                                    #FFA343,
	big-foot-feet:                                  #E88E5A,
	antique-brass:                                  #CD9575,
	yellow-orange:                                  #FFAE42,
	earth-yellow:                                   #E1A95F,
	corn-colored--tomorokoshi-iro:                  #FAA945,
	royal-orange:                                   #F99245,
	white-oak--shirotsurubami:                      #CE9F6F,
	maximum-yellow-red:                             #F2BA49,
	sunray:                                         #E3AB57,
	indian-yellow:                                  #E3A857,
	pale-taupe:                                     #BC987E,
	daylily-colored--kanzo-iro:                     #FF8936,
	brown-yellow:                                   #CC9966,
	deep-saffron:                                   #FF9933,
	red-bronze--beniukon:                           #FB8136,
	persian-orange:                                 #D99058,
	egg-colored--tamago-iro:                        #FFA631,
	raw-sienna:                                     #D68A59,
	grullo:                                         #A99A86,
	white-tea-colored--shiracha:                    #C48E69,
	jasper-orange:                                  #DE8F4E,
	camel:                                          #C19A6B,
	faded-sen-no-rikyus-tea--rikyushiracha:         #B0927A,
	golden-fallen-leaves--kikuchiba:                #E29C45,
	stone-terrace:                                  #A09484,
	turmeric-colored--ukon-iro:                     #E69B3A,
	light-taupe:                                    #B38B6D,
	gamboge--too:                                   #FFB61E,
	bright-yellow--crayola:                         #FFAA1D,
	tigers-eye:                                     #E08D3C,
	princeton-orange:                               #F58025,
	cadmium-orange:                                 #ED872D,
	pumpkin:                                        #FF7518,
	vivid-tangelo:                                  #F07427,
	deer:                                           #BA8759,
	silver-grey--ginnezumi:                         #97867C,
	dark-tangerine:                                 #FFA812,
	ochre--odo-iro:                                 #BE7F51,
	beaver:                                         #9F8170,
	beer:                                           #F28E1C,
	carrot-orange:                                  #ED9121,
	kumquat:                                        #FB9912,
	peru:                                           #CD853F,
	maple-syrup:                                    #BB9351,
	marigold:                                       #EAA221,
	middle-grey:                                    #8B8680,
	decaying-leaves-color--kuchiba-iro:             #D57835,
	bronze--metallic:                               #B08D57,
	yellow-orange--color-wheel:                     #FF9505,
	cafe-au-lait:                                   #A67B5B,
	chrome-yellow:                                  #FFA700,
	cheese:                                         #FFA600,
	golden-yellow--yamabuki-iro:                    #FFA400,
	vivid-orange-peel:                              #FFA000,
	orange-peel:                                    #FF9F00,
	weebly-orange:                                  #FF9A00,
	vivid-gamboge:                                  #FF9900,
	dark-orange:                                    #FF8C00,
	american-orange:                                #FF8B00,
	orange--color-wheel:                            #FF7F00,
	amber--sae-ece:                                 #FF7E00,
	heat-wave:                                      #FF7A00,
	safety-orange:                                  #FF7800,
	philippine-orange:                              #FF7300,
	safety-orange--blaze-orange:                    #FF6700,
	orange:                                         #FF6600,
	vivid-orange:                                   #FF5F00,
	maximum-orange:                                 #FF5B00,
	chinese-bronze:                                 #CD8032,
	bronze:                                         #CD7F32,
	sumac-dyed--hajizome:                           #E08A1E,
	orange--ryb:                                    #FB9902,
	golden-oak--kitsurubami:                        #BB8141,
	chamoisee:                                      #A0785A,
	university-of-tennessee-orange:                 #F77F00,
	gamboge:                                        #E49B0F,
	mulberry-dyed--kuwazome:                        #C57F2E,
	tangerine:                                      #F28500,
	cinnamon:                                       #D2691E,
	ochre:                                          #CC7722,
	amber--kohaku-iro:                              #CA6924,
	dirt:                                           #9B7653,
	liver-chestnut:                                 #987456,
	golden-brown--kincha:                           #C66B27,
	persimmon:                                      #EC5800,
	pale-brown:                                     #987654,
	copper:                                         #B87333,
	metallic-bronze:                                #A97142,
	gold-brown--yamabukicha:                        #CB7E1F,
	metallic-orange:                                #DA680F,
	durian:                                         #B07939,
	spanish-orange:                                 #E86100,
	shadow:                                         #8A795D,
	fulvous:                                        #E48400,
	chinese-yellow-tea-colored--kigaracha:          #B7702D,
	ruddy-brown:                                    #BB6528,
	dark-gold:                                      #AA6C39,
	liver--dogs:                                    #B86D29,
	loquat--tree-brown--biwacha:                    #AB6134,
	dark-silver:                                    #71706E,
	university-of-california-gold:                  #B78727,
	lye-colored--aku-iro:                           #7F6B5D,
	clove-dyed--chojizome:                          #A96232,
	harvest-gold:                                   #DA9100,
	sen-no-rikyus-tea--rikyucha:                    #826B58,
	dark-brown-tangelo:                             #88654E,
	pastel-brown:                                   #836953,
	alloy-orange:                                   #C46210,
	metallic-sunburst:                              #9C7C38,
	dirty-brown:                                    #B5651E,
	asda-orange--1968:                              #CA7309,
	light-brown:                                    #B5651D,
	french-bistre:                                  #856D4D,
	mustard-brown:                                  #CD7A00,
	tenne--tawny:                                   #CD5700,
	burnt-orange:                                   #CC5500,
	asda-orange:                                    #C86500,
	raw-umber:                                      #826644,
	brushwood-dyed--fushizome:                      #8C5939,
	yellow-sea-pine-brown--kimirucha:               #896C39,
	fox-color--kitsune-iro:                         #985629,
	the-color-of-an-undried-wall--namakabe-iro:     #785E49,
	milk-chocolate:                                 #84563C,
	coyote-brown:                                   #81613C,
	japanese-iris-and-sooty-bamboo--higosusutake:   #7F5D3B,
	italian-leather:                                #635A52,
	philippine-gold:                                #B17304,
	quincy:                                         #6A5445,
	golden-brown:                                   #996515,
	mud:                                            #70543E,
	umber:                                          #635147,
	mousy-indigo--ainezumi:                         #5C544E,
	golden-grey-bamboo--kinsusutake:                #7D4E2D,
	contemplation-in-a-tea-garden--rokocha:         #665343,
	windsor-tan:                                    #A75502,
	coffee:                                         #6F4E37,
	iwai-brown--iwaicha:                            #5E5545,
	saddle-brown:                                   #8B4513,
	russet:                                         #80461B,
	gamboge-orange--brown:                          #996600,
	aloewood-color--kyara-iro:                      #6A432D,
	brown--traditional:                             #964B00,
	iced-tea:                                       #923C01,
	bronze--dark:                                   #88540B,
	dull-blue--aonibi:                              #4F4944,
	brown-nose:                                     #6B4423,
	van-dyke-brown:                                 #664228,
	dark-brown:                                     #654321,
	sepia:                                          #704214,
	nightingale-brown--uguisucha:                   #5C4827,
	dark-bronze:                                    #804A00,
	weathered-bamboo--susutake-iro:                 #593A27,
	simmered-seaweed--mirucha:                      #4C3D30,
	chocolate--traditional:                         #7B3F00,
	pullman-brown--ups-brown:                       #644117,
	dark-lava:                                      #483C32,
	earthtone:                                      #5D3A1A,
	philippine-bronze:                              #6E3A07,
	cafe-noir:                                      #4B3621,
	violin-brown:                                   #674403,
	jacko-bean:                                     #413628,
	thousand-year-old-brown--sensaicha:             #3B3429,
	pineapple:                                      #563C0D,
	cola:                                           #3C3024,
	bistre:                                         #3D2B1F,
	ink-color--sumi-iro:                            #27221F,
	black-chestnut-oak--kurotsurubami:              #252321,
	american-bronze:                                #391802,
	zinnwaldite-brown:                              #2C1608,
	black--kokushoku:                               #171412,
	smoky-black:                                    #100C08,

	// Orange yellow (hue range 41-50°)
	lotion:                                         #FEFDFA,
	cosmic-latte:                                   #FFF8E7,
	cornsilk:                                       #FFF8DC,
	alabaster:                                      #F2F0E6,
	eggshell:                                       #F0EAD6,
	white-chocolate:                                #EDE6D6,
	blond:                                          #FAF0BE,
	lemon-meringue:                                 #F6EABE,
	pearl:                                          #EAE0C8,
	banana-mania:                                   #FAE7B5,
	dutch-white:                                    #EFDFBB,
	cookies-and-cream:                              #EEE0B1,
	medium-champagne:                               #F3E5AB,
	yellow--crayola:                                #FCE883,
	inside-of-a-bottle--kamenozoki:                 #C6C2B6,
	jasmine:                                        #F8DE7E,
	buff:                                           #F0DC82,
	flax:                                           #EEDC82,
	shandy:                                         #FFE670,
	dandelion--crayola:                             #FDDB6D,
	orange-yellow--crayola:                         #F8D568,
	naples-yellow:                                  #FADA5E,
	mustard:                                        #FFDB58,
	arylide-yellow:                                 #E9D66B,
	gargoyle-gas:                                   #FFDF46,
	google-chrome-yellow:                           #FFCE44,
	ecru:                                           #C2B280,
	maize--crayola:                                 #F2C649,
	lanzones:                                       #E0BC5B,
	iron:                                           #A19D94,
	sunglow:                                        #FFCC33,
	amur-cork-tree--kihada:                         #F3C13A,
	pale-oak--aoshirotsurubami:                     #BBA46D,
	saffron:                                        #F4C430,
	ripe-mango:                                     #FFC324,
	sunset-yellow:                                  #FFC922,
	meat-brown:                                     #E5B73B,
	japanese-triandra-grass--kariyasu:              #E2B13C,
	vegas-gold:                                     #C5B358,
	orange-yellow:                                  #F5BD1F,
	rape-blossom-brown--nanohanacha:                #E3B130,
	deep-lemon:                                     #F5C71A,
	mikado-yellow:                                  #FFC40C,
	gold--metallic:                                 #D4AF37,
	metallic-yellow:                                #FDCC0D,
	jonquil:                                        #F4CA16,
	old-gold:                                       #CFB53B,
	american-gold:                                  #D3AF37,
	durian-yellow:                                  #E1BD27,
	titanium:                                       #878681,
	spanish-yellow:                                 #F6B511,
	urobilin:                                       #E1AD21,
	satin-sheen-gold:                               #CBA135,
	school-bus-yellow:                              #FFD800,
	golden:                                         #FFD700,
	cyber-yellow:                                   #FFD300,
	tangerine-yellow:                               #FFCC00,
	amber:                                          #FFBF00,
	selective-yellow:                               #FFBA00,
	ucla-gold:                                      #FFB300,
	chinese-yellow:                                 #FFB200,
	mango:                                          #FDBE02,
	philippine-yellow:                              #FECB00,
	microsoft-yellow:                               #FDB900,
	golden-poppy:                                   #FCC200,
	goldenrod:                                      #DAA520,
	american-yellow:                                #F2B400,
	patrinia-flowers--ominaeshi:                    #D9B611,
	willow-grey--yanaginezumi:                      #817B69,
	lemon-curry:                                    #CCA01D,
	willow-tea--yanagicha:                          #9C8A4D,
	mustard-yellow:                                 #E1AD01,
	dark-tan:                                       #918151,
	pale-fallen-leaves--aokuchiba:                  #AA8736,
	baiko-brown--baikocha:                          #857C55,
	gold-foil:                                      #BD9B16,
	gold-fusion:                                    #85754E,
	finch-brown--hiwacha:                           #957B38,
	chinese-gold:                                   #CC9900,
	moss-color--koke-iro:                           #8B7D3A,
	dark-goldenrod:                                 #B8860B,
	greyish-dark-green--rikyunezumi:                #656255,
	rapeseed-oil-colored--nataneyu-iro:             #A17917,
	light-gold:                                     #B29700,
	bistre-brown:                                   #967117,
	gold:                                           #A57C00,
	porcupine:                                      #936900,
	field-drab:                                     #6C541E,
	rikan-brown--rikancha:                          #534A32,
	codium-fragile-seaweed-color--miru-iro:         #524B2A,
	flirtatious-indigo-tea--aikobicha:              #473F2D,
	olive-drab-7:                                   #3C341F,
	pullman-green:                                  #3B331C,
	dark-bronze--coin:                              #514100,
	black-chocolate:                                #1B1811,

	// Yellow (hue range 51-60°)
	baby-powder:                                    #FEFEFA,
	ivory:                                          #FFFFF0,
	light-yellow:                                   #FFFFE0,
	beige:                                          #F5F5DC,
	cream:                                          #FFFDD0,
	lemon-chiffon:                                  #FFFACD,
	light-goldenrod-yellow:                         #FAFAD2,
	conditioner:                                    #FFFFCC,
	very-pale-yellow:                               #FFFFBF,
	dirty-white:                                    #E8E4C9,
	pale-spring-bud:                                #ECEBBD,
	lemon-yellow--crayola:                          #FFFF9F,
	canary:                                         #FFFF99,
	pale-goldenrod:                                 #EEE8AA,
	pastel-yellow:                                  #FDFD96,
	pastel-gray:                                    #CFCFC4,
	flavescent:                                     #F7E98E,
	green-yellow--crayola:                          #F0E891,
	light-khaki:                                    #F0E68C,
	sunny:                                          #F2F27A,
	laser-lemon:                                    #FFFF66,
	icterine:                                       #FCF75E,
	dodie-yellow:                                   #FEF65B,
	corn:                                           #FBEC5D,
	straw:                                          #E4D96F,
	lemon-yellow:                                   #FFF44F,
	underside-of-willow-leaves--urahayanagi:        #BCB58C,
	sage:                                           #BCB88A,
	minion-yellow:                                  #F5E050,
	banana-yellow:                                  #FFE135,
	electric-yellow:                                #FFFF33,
	misty-moss:                                     #BBB477,
	yellow--ryb:                                    #FEFE33,
	maximum-yellow:                                 #FAFA37,
	daffodil:                                       #FFFF31,
	pomelo-olive:                                   #BFBD70,
	sandstorm:                                      #ECD540,
	dark-khaki:                                     #BDB76B,
	margarine:                                      #F2D930,
	dandelion:                                      #F0E130,
	olive-green:                                    #B5B35C,
	battleship-grey:                                #848482,
	sprint-yellow:                                  #FFDD05,
	vivid-yellow:                                   #FFE302,
	sponge:                                         #FDFE03,
	yellow:                                         #FFFF00,
	lemon:                                          #FFF700,
	cadmium-yellow:                                 #FFF600,
	yellow-rose:                                    #FFF000,
	canary-yellow:                                  #FFEF00,
	middle-yellow:                                  #FFEB00,
	golden-yellow:                                  #FFDF00,
	sizzling-sunrise:                               #FFDB00,
	lemon-glacier:                                  #FDFF00,
	yellow--pantone:                                #FEDF00,
	aureolin:                                       #FDEE00,
	brass:                                          #B5A642,
	safety-yellow:                                  #EED202,
	yellow--munsell:                                #EFCC00,
	titanium-yellow:                                #EEE600,
	citrine:                                        #E4D00A,
	peridot:                                        #E6E200,
	greenfinch-color--hiwa-iro:                     #BDA928,
	old-moss-green:                                 #867E36,
	spanish-bistre:                                 #807532,
	dark-yellow:                                    #9B870C,
	mustard-green:                                  #6E6E30,
	sooty-willow-bamboo--yanagisusutake:            #4D4B3A,
	antique-bronze:                                 #665D1E,
	heart-gold:                                     #808000,
	bronze-yellow:                                  #737000,

	// Yellow green (hue range 61-80°)
	milk:                                           #FDFFF5,
	pomelo-white:                                   #F9FFE3,
	calamansi:                                      #FCFFA4,
	gin:                                            #D8E4BC,
	mindaro:                                        #E3F988,
	key-lime:                                       #E8F48C,
	lime-pulp:                                      #D1E189,
	yellow-green--crayola:                          #C5E384,
	medium-spring-bud:                              #C9DC87,
	bored-accent-green:                             #DDE26A,
	chinese-green:                                  #D0DB61,
	maximum-green-yellow:                           #D9E650,
	june-bud:                                       #BDDA57,
	middle-green-yellow:                            #ACBF60,
	watermelon-yellow:                              #EEFF1B,
	pear:                                           #D1E231,
	arctic-lime:                                    #D0FF14,
	artichoke:                                      #8F9779,
	margarita:                                      #B0C24A,
	lemon-lime:                                     #E3FF00,
	chartreuse--traditional:                        #DFFF00,
	volt:                                           #CEFF00,
	electric-lime:                                  #CCFF00,
	bitter-lime:                                    #BFFF00,
	yellow-green:                                   #9ACD32,
	rusty-celadon--sabiseiji:                       #898A74,
	spring-bud:                                     #A7FC00,
	willow-dye--yanagizome:                         #8C9E5E,
	moss-green:                                     #8A9A5B,
	bitter-lemon:                                   #CAE00D,
	pomelo:                                         #96A53C,
	vivid-lime-green:                               #A6D608,
	acid-green:                                     #B0BF1A,
	dark-lemon-lime:                                #8BBE1B,
	sheen-green:                                    #8FD400,
	limerick:                                       #9DC209,
	citron:                                         #9FA91F,
	siskin-sprout-yellow--hiwamoegi:                #7A942E,
	microsoft-green:                                #7DB700,
	apple-green:                                    #8DB600,
	old-bamboo-color--oitake-iro:                   #5E644F,
	olive-drab-3:                                   #6B8E23,
	blue-black-crayfish--aoni:                      #52593B,
	soldier-green:                                  #545A2C,
	avocado:                                        #568203,
	dark-moss-green:                                #4A5D23,
	pine-needle-color--matsuba-iro:                 #454D32,
	storeroom-brown--onandocha:                     #3D4035,
	army-green:                                     #4B5320,
	black-olive:                                    #3B3C36,

	// Green (hue range 81-140°)
	honeydew:                                       #F0FFF0,
	nyanza:                                         #E9FFDB,
	chinese-white:                                  #E2E5DE,
	tea-green:                                      #D0F0C0,
	menthol:                                        #C1F9A2,
	mint-green:                                     #98FF98,
	pale-green:                                     #98FB98,
	celadon:                                        #ACE1AF,
	light-moss-green:                               #ADDFAD,
	granny-smith-apple:                             #A8E4A0,
	teal-deer:                                      #99E6B3,
	light-green:                                    #90EE90,
	ash-gray:                                       #B2BEB5,
	screamin-green:                                 #66FF66,
	cambridge-blue:                                 #A3C1AD,
	silver-foil:                                    #AFB1AE,
	eton-blue:                                      #96C8A2,
	lemon-lime--dark:                               #5CFF67,
	laurel-green:                                   #A9BA9D,
	pastel-green:                                   #77DD77,
	very-light-malachite-green:                     #64E986,
	whitish-green--byakuroku:                       #A5BA93,
	dark-sea-green:                                 #8FBC8F,
	inchworm:                                       #B2EC5D,
	pistachio:                                      #93C572,
	french-lime:                                    #9EFD38,
	green-yellow:                                   #ADFF2F,
	iguana-green:                                   #71BC78,
	olivine:                                        #9AB973,
	spring-frost:                                   #87FF2A,
	mantis:                                         #74C365,
	green-lizard:                                   #A7F432,
	kiwi:                                           #8EE53F,
	dollar-bill:                                    #85BB65,
	emerald:                                        #50C878,
	bud-green:                                      #7BB661,
	asparagus:                                      #87A96B,
	neon-green:                                     #39FF14,
	pale-blue--usuao:                               #8C9C76,
	dolphin-gray:                                   #828E84,
	pale-young-green-onion--usumoegi:               #8DB255,
	oxley:                                          #6D9A79,
	shiny-shamrock:                                 #5FA778,
	forest-green--crayola:                          #5FA777,
	asda-green:                                     #7DC242,
	mango-green:                                    #96FF00,
	bright-green:                                   #66FF00,
	green-slime:                                    #65FF00,
	chlorophyll-green:                              #4AFF00,
	harlequin:                                      #3FFF00,
	lime-green:                                     #32CD32,
	electric-green:                                 #00FF00,
	lawn-green:                                     #7CFC00,
	apple:                                          #66B447,
	xanadu:                                         #738678,
	russian-green:                                  #679267,
	smoke:                                          #738276,
	young-bamboo-color--wakatake-iro:               #6B9362,
	harbor-rat--minatonezumi:                       #757D75,
	camouflage-green:                               #78866B,
	american-green:                                 #34B334,
	nickel:                                         #727472,
	wageningen-green:                               #34B233,
	malachite:                                      #0BDA51,
	harlequin-green:                                #46CB18,
	green--ryb:                                     #66B032,
	middle-green:                                   #4D8C57,
	palm-leaf:                                      #6F9940,
	axolotl:                                        #63775B,
	kelly-green:                                    #4CBB17,
	may-green:                                      #4C9141,
	vine-green:                                     #38A32A,
	yellow-green--color-wheel:                      #30B21A,
	vivid-malachite:                                #00CC33,
	douban-green:                                   #2E963D,
	dark-pastel-green:                              #03C03C,
	maximum-green:                                  #5E8C31,
	aloeswood-brown--tonocha:                       #5A6457,
	fern-green:                                     #4F7942,
	patina--rokusho:                                #407A52,
	fresh-onion--moegi:                             #5B8930,
	ebony:                                          #555D50,
	slimy-green:                                    #299617,
	forest-green:                                   #228B22,
	sap-green:                                      #507D2A,
	japanese-laurel:                                #2F7532,
	gray-asparagus:                                 #465945,
	dark-olive-green:                               #556B2F,
	horsetail-color--tokusa-iro:                    #3D5D42,
	verse-green:                                    #18880D,
	north-texas-green:                              #059033,
	deep-moss-green:                                #355E3B,
	mughal-green:                                   #306030,
	india-green:                                    #138808,
	islamic-green:                                  #009000,
	green-cola:                                     #4C721D,
	green--midori:                                  #2A603B,
	xbox-green:                                     #0E7A0D,
	rifle-green:                                    #444C38,
	napier-green:                                   #2A8000,
	green:                                          #008001,
	ao--english:                                    #008000,
	rusty-storeroom--sabitetsuonando:               #3A403B,
	thousand-year-old-green--sensaimidori:          #374231,
	kombu-green:                                    #354230,
	metallic-green:                                 #296E01,
	deep-green:                                     #056608,
	cal-poly-pomona-green:                          #1E4D2B,
	royal-green:                                    #136207,
	emerald-green:                                  #046307,
	pakistan-green:                                 #006600,
	indigo-codium-fragile-seaweed-brown--aimirucha: #2E372E,
	dark-green--x11:                                #006400,
	lincoln-green:                                  #195905,
	black-leather-jacket:                           #253529,
	pine-tree:                                      #2A2F23,

	// Green cyan (hue range 141-169°)
	mint-cream:                                     #F5FFFA,
	italian-ice:                                    #E9F6EF,
	aero-blue:                                      #C9FFE5,
	magic-mint:                                     #AAF0D1,
	jet-stream:                                     #BBD0C9,
	sea-foam-green:                                 #9FE2BF,
	aquamarine:                                     #7FFFD4,
	turquoise-green:                                #A0D6B4,
	pale-robin-egg-blue:                            #96DED1,
	opal:                                           #A8C3BC,
	middle-blue-green:                              #8DD9CC,
	pearl-aqua:                                     #88D8C0,
	medium-aquamarine:                              #66DDAA,
	asda-green--1994:                               #80C197,
	morning-blue:                                   #8DA399,
	asda-green--1999:                               #66C992,
	celadon-color--seiji-iro:                       #819C8B,
	green-sheen:                                    #6EAEA1,
	eucalyptus:                                     #44D7A8,
	pale-green-onion--mizuasagi:                    #749F8D,
	ufo-green:                                      #3CD070,
	ocean-green:                                    #48BF91,
	blue-lagoon:                                    #4CB7A5,
	polished-pine:                                  #5DA493,
	sea-green--crayola:                             #00FFCD,
	guppie-green:                                   #00FF7F,
	medium-spring-green:                            #00FA9A,
	mint:                                           #3EB489,
	medium-sea-green:                               #3CB371,
	mountain-meadow:                                #30BA8F,
	rusted-light-blue--sabiasagi:                   #6A7F7A,
	zomp:                                           #39A78E,
	asda-green--2002:                               #32AD61,
	wintergreen-dream:                              #56887D,
	asda-green--1985:                               #00DEA4,
	jungle-green:                                   #29AB87,
	caribbean-green:                                #00CC99,
	green--crayola:                                 #1CAC78,
	hookers-green:                                  #49796B,
	deep-aquamarine:                                #40826D,
	illuminating-emerald:                           #319177,
	google-chrome-green:                            #1AA260,
	sea-green:                                      #2E8B57,
	amazon:                                         #3B7A57,
	green--pantone:                                 #00AD43,
	go-green:                                       #00AB66,
	feldgrau:                                       #4D5D53,
	green--munsell:                                 #00A877,
	sesame-street-green:                            #00A870,
	jade:                                           #00A86B,
	green--pigment:                                 #00A550,
	blue-green--seiheki:                            #3A6960,
	green--ncs:                                     #009F6B,
	shamrock-green:                                 #009E60,
	paolo-veronese-green:                           #009B7D,
	poker-green:                                    #35654D,
	green-cyan:                                     #009966,
	spanish-green:                                  #009150,
	deep-green-cyan-turquoise:                      #0E7C61,
	dark-spring-green:                              #177245,
	philippine-green:                               #008543,
	generic-viridian:                               #007F66,
	spanish-viridian:                               #007F5C,
	tropical-rain-forest:                           #00755E,
	insect-screen--mushiao:                         #2D4436,
	dartmouth-green:                                #00703C,
	cadmium-green:                                  #006B3C,
	bangladesh-green:                               #006A4E,
	velvet--birodo:                                 #224634,
	brunswick-green:                                #1B4D3E,
	green-bamboo-color--aotake-iro:                 #006442,
	iron-color--tetsu-iro:                          #2B3733,
	msu-green:                                      #18453B,
	castleton-green:                                #00563F,
	blue-green--color-wheel:                        #064E40,
	medium-jungle-green:                            #1C352D,
	phthalo-green:                                  #123524,
	forest-green--traditional:                      #014421,
	british-racing-green:                           #004225,
	dark-jungle-green:                              #1A2421,
	sacramento-state-green:                         #043927,
	dark-green:                                     #013220,

	// Cyan (hue range 170-200°)
	azure-mist:                                     #F0FFFF,
	bubbles:                                        #E7FEFF,
	indigo-white--aijiro:                           #EBF6F7,
	light-cyan:                                     #E0FFFF,
	water:                                          #D4F1F9,
	diamond:                                        #B9F2FF,
	celeste:                                        #B2FFFF,
	aluminum-foil:                                  #D2D9DB,
	columbia-blue:                                  #C4D8E2,
	fresh-air:                                      #A6E7FF,
	winter-wizard:                                  #A0E6FF,
	pale-turquoise:                                 #AFEEEE,
	waterspout:                                     #A4F4F9,
	blizzard-blue:                                  #ACE5EE,
	powder-blue:                                    #B0E0E6,
	light-blue:                                     #ADD8E6,
	non-photo-blue:                                 #A4DDED,
	crystal:                                        #A7D8DE,
	silver-sand:                                    #BFC1C2,
	pale-cyan:                                      #87D3F8,
	pastel-blue:                                    #AEC6CF,
	cornflower:                                     #93CCEA,
	electric-blue:                                  #7DF9FF,
	baby-blue:                                      #89CFF0,
	sky-blue:                                       #87CEEB,
	medium-sky-blue:                                #80DAEB,
	middle-blue:                                    #7ED4E6,
	dark-sky-blue:                                  #8CBED6,
	sky-blue--crayola:                              #76D7EA,
	pewter-blue:                                    #8BA8B7,
	moonstone-blue:                                 #73A9C2,
	delicate-girl-blue:                             #6AB2CA,
	aqua-blue-color--mizu-iro:                      #86ABA5,
	picton-blue:                                    #45B1E8,
	bayside:                                        #5FC9BF,
	turquoise:                                      #40E0D0,
	sea-serpent:                                    #4BC7CF,
	medium-turquoise:                               #48D1CC,
	crystal-blue:                                   #68A0B0,
	maximum-blue:                                   #47ABCC,
	lotion-blue:                                    #15F2FD,
	spiro-disco-ball:                               #0FC0FC,
	fluorescent-blue:                               #15F4EE,
	twitter-blue:                                   #26A7DE,
	desaturated-cyan:                               #669999,
	cadet-blue:                                     #5F9EA0,
	aqua:                                           #00FFFF,
	turquoise-blue:                                 #00FFEF,
	vivid-sky-blue:                                 #00CCFF,
	capri:                                          #00BFFF,
	moonstone:                                      #3AA8C1,
	blue-bolt:                                      #00B9FB,
	sky-blue-color--sora-iro:                       #4D8FAC,
	caribbean-blue:                                 #1AC1DD,
	verdigris:                                      #43B3AE,
	blue-raspberry:                                 #0CBFE9,
	battery-charged-blue:                           #1DACD6,
	douban-blue:                                    #2496CD,
	bright-turquoise:                               #08E8DE,
	maximum-blue-green:                             #30BFBF,
	aurometalsaurus:                                #6E7F80,
	ball-blue:                                      #21ABCD,
	vivid-cerulean:                                 #00AAEE,
	microsoft-blue:                                 #00A2ED,
	cyan--process:                                  #00B7EB,
	steel-teal:                                     #5F8A8B,
	keppel:                                         #3AB09E,
	pacific-blue:                                   #1CA9C9,
	light-blue-color--asagi-iro:                    #48929B,
	hawaii-blue:                                    #00C3E3,
	cyan-cornflower-blue:                           #188BC2,
	rich-electric-blue:                             #0892D0,
	jelly-bean-blue:                                #44798E,
	light-sea-green:                                #20B2AA,
	dark-turquoise:                                 #00CED1,
	turquoise-surf:                                 #00C5CD,
	robin-egg-blue:                                 #00CCCC,
	blue-green:                                     #0D98BA,
	cadet:                                          #536872,
	tiffany-blue:                                   #0ABAB5,
	teal-blue:                                      #367588,
	blue--ncs:                                      #0087BD,
	thousand-herb-color--chigusa-iro:               #317589,
	stormcloud:                                     #4F666A,
	opposite-flower-color--masuhana-iro:            #4D646C,
	star-command-blue:                              #007BB8,
	deep-space-sparkle:                             #4A646C,
	bondi-blue:                                     #0095B6,
	celadon-green:                                  #2F847C,
	boy-red:                                        #0E9CA5,
	ming:                                           #36747D,
	blue--munsell:                                  #0093AF,
	myrtle-green:                                   #317873,
	celadon-blue:                                   #007BA7,
	persian-green:                                  #00A693,
	cg-blue:                                        #007AA5,
	rusty-storage--sabionando:                      #455859,
	light-blue-flower--hanaasagi:                   #1D697C,
	viridian-green:                                 #009698,
	metallic-seaweed:                               #0A7E8C,
	sea-blue:                                       #006994,
	blue-sapphire:                                  #126180,
	kimono-storage--omeshionando:                   #3D4C51,
	outer-space:                                    #414A4C,
	dark-cyan:                                      #008B8B,
	iron-head-flower-color--noshimehana-iro:        #344D56,
	silk-crepe-brown--omeshicha:                    #354E4B,
	teal-green:                                     #00827F,
	teal:                                           #008080,
	new-bridge--shinbashi-iro:                      #006C7F,
	dark-slate-gray:                                #2F4F4F,
	pine-green:                                     #01796F,
	onando-color--onando-iro:                       #364141,
	skobeloff:                                      #007474,
	onyx:                                           #353839,
	japanese-indigo:                                #264348,
	light-blue-silk--hanada:                        #044F67,
	outer-space--crayola:                           #2D383A,
	gunmetal:                                       #2A3439,
	iron-storage--tetsuonando:                      #2B3736,
	goryeo-storeroom--korainando:                   #203838,
	midnight-green--eagle-green:                    #004953,
	charleston-green:                               #232B2B,
	deep-jungle-green:                              #004B49,
	warm-black:                                     #004242,
	rich-black:                                     #004040,

	// Cyan blue (hue range 201-220°)
	alice-blue:                                     #F0F8FF,
	anti-flash-white:                               #F2F3F4,
	azureish-white:                                 #DBE9F4,
	beau-blue:                                      #BCD4E6,
	pale-cornflower-blue:                           #ABCDEF,
	baby-blue-eyes:                                 #A1CAF1,
	light-steel-blue:                               #B0C4DE,
	light-sky-blue:                                 #87CEFA,
	pale-cerulean:                                  #9BC4E2,
	parakeet-blue:                                  #7EB6FF,
	jordy-blue:                                     #8AB9F1,
	french-sky-blue:                                #77B5FE,
	very-light-azure:                               #74BBFB,
	maya-blue:                                      #73C2FB,
	cadet-blue--crayola:                            #A9B2C3,
	light-cobalt-blue:                              #88ACE0,
	aero:                                           #7CB9E8,
	vista-blue:                                     #7C9ED9,
	cornflower-blue:                                #6495ED,
	blue-jeans:                                     #5DADEC,
	little-boy-blue:                                #6CA0DC,
	blueberry:                                      #4F86F7,
	iceberg:                                        #71A6D2,
	dark-pastel-blue:                               #779ECB,
	cadet-grey:                                     #91A3B0,
	google-chrome-blue:                             #4C8BF5,
	united-nations-blue:                            #5B92E5,
	air-superiority-blue:                           #72A0C1,
	blue-gray:                                      #6699CC,
	brilliant-azure:                                #3399FF,
	cerulean-frost:                                 #6D9BC3,
	carolina-blue:                                  #56A0D3,
	weldon-blue:                                    #7C98AB,
	blue--crayola:                                  #1F75FE,
	dodger-blue:                                    #1E90FF,
	shadow-blue:                                    #778BA5,
	tufts-blue:                                     #3E8EDE,
	celestial-blue:                                 #4997D0,
	bleu-de-france:                                 #318CE7,
	silver-lake-blue:                               #5D89BA,
	glaucous:                                       #6082B6,
	button-blue:                                    #24A0ED,
	light-slate-gray:                               #778899,
	weebly-blue:                                    #1F8EED,
	ultramarine-color--gunjo-iro:                   #5D8CAE,
	air-force-blue--raf:                            #5D8AA8,
	cyan-blue-azure:                                #4682BF,
	cyan-azure:                                     #4E82B4,
	slate-gray:                                     #708090,
	azure:                                          #007FFF,
	brandeis-blue:                                  #0070FF,
	steel-blue:                                     #4682B4,
	blue-yonder:                                    #5072A7,
	flickr-blue:                                    #216BD6,
	celtic-blue:                                    #246BCE,
	blue-dark:                                      #2D68C4,
	green-blue--crayola:                            #2887C8,
	bright-navy-blue:                               #1974D2,
	ucla-blue:                                      #536895,
	blue-cola:                                      #0088DC,
	queen-blue:                                     #436B95,
	microsoft-edge-blue:                            #0078D7,
	denim:                                          #1560BD,
	blue:                                           #0073CF,
	dark-electric-blue:                             #536878,
	sapphire:                                       #0F52BA,
	green-blue:                                     #1164B4,
	cyan-cobalt-blue:                               #28589C,
	black-coral:                                    #54626F,
	bdazzled-blue:                                  #2E5894,
	lapis-lazuli:                                   #26619C,
	yinmn-blue:                                     #2E5090,
	ocean-boat-blue:                                #0077BE,
	panasonic-blue:                                 #0040BE,
	french-blue:                                    #0072BB,
	absolute-zero:                                  #0048BA,
	spanish-blue:                                   #0070B8,
	linkedin-blue:                                  #0072B1,
	honolulu-blue:                                  #006DB0,
	metallic-blue:                                  #32527B,
	cobalt-blue:                                    #0047AB,
	royal-azure:                                    #0038A8,
	lapis-lazuli-color--ruri-iro:                   #1F4788,
	philippine-blue:                                #0038A7,
	medium-persian-blue:                            #0067A5,
	yale-blue:                                      #0F4D92,
	medium-electric-blue:                           #035096,
	dark-powder-blue:                               #003399,
	usafa-blue:                                     #004F98,
	air-force-blue--usaf:                           #00308F,
	midnight-blue:                                  #00468C,
	dark-cerulean:                                  #08457E,
	charcoal:                                       #36454F,
	prussian-blue-color--konjo-iro:                 #003171,
	tardis-blue:                                    #003B6F,
	ateneo-blue:                                    #003A6C,
	dark-imperial-blue--teal:                       #00416A,
	dark-midnight-blue:                             #003366,
	royal-blue--dark:                               #002366,
	cool-black:                                     #002E63,
	yankees-blue:                                   #1C2841,
	prussian-blue:                                  #003153,
	dark-gunmetal:                                  #1F262A,
	oxford-blue:                                    #002147,
	rich-black--fogra29:                            #010B13,
	rich-black--fogra39:                            #010203,

	// Blue (hue range 221-240°)
	ghost-white:                                    #F8F8FF,
	lavender-mist:                                  #E6E6FA,
	coconut-white:                                  #E9EDF6,
	bright-gray:                                    #EBECF0,
	lavender-blue:                                  #CCCCFF,
	vodka:                                          #BFC0EE,
	periwinkle--crayola:                            #C3CDE6,
	light-periwinkle:                               #C5CBE1,
	maximum-blue-purple:                            #ACACE6,
	wild-blue-yonder:                               #A2ADD0,
	blue-bell:                                      #A2A2D0,
	very-light-blue:                                #6666FF,
	ceil:                                           #92A1CF,
	chrome-aluminum:                                #A8A9AD,
	manatee:                                        #979AAA,
	cool-grey:                                      #8C92AC,
	ultramarine-blue:                               #4166F5,
	royal-blue--light:                              #4169E1,
	roman-silver:                                   #838996,
	han-blue:                                       #446CCF,
	bluebonnet:                                     #1C1CF0,
	palatinate-blue:                                #273BE2,
	blue--ryb:                                      #0247FE,
	dark-blue-gray:                                 #666699,
	blue:                                           #0000FF,
	liberty:                                        #545AA7,
	cerulean-blue:                                  #2A52BE,
	new-car:                                        #214FC6,
	violet-blue:                                    #324AB2,
	denim-blue:                                     #2243B6,
	persian-blue:                                   #1C39BB,
	facebook-blue:                                  #39569C,
	purple-navy:                                    #4E5180,
	medium-blue:                                    #0000CD,
	blue--pigment:                                  #333399,
	chinese-blue:                                   #365194,
	independence:                                   #4C516D,
	egyptian-blue:                                  #1034A6,
	cosmic-cobalt:                                  #2E2D88,
	dark-cornflower-blue:                           #26428B,
	samsung-blue:                                   #12279E,
	ua-blue:                                        #0033AA,
	american-blue:                                  #3B3B6D,
	blue--pantone:                                  #0018A8,
	zaffre:                                         #0014A8,
	cadmium-blue:                                   #0A1195,
	stpatricks-blue:                                #23297A,
	duke-blue:                                      #00009C,
	indigo-dye:                                     #091F92,
	deep-koamaru:                                   #333366,
	imperial-blue:                                  #002395,
	dark-blue:                                      #00008B,
	indigo--rainbow:                                #233067,
	midnight-blue--dark:                            #191970,
	phthalo-blue:                                   #000F89,
	resolution-blue:                                #002387,
	navy-blue:                                      #000080,
	catalina-blue:                                  #062A78,
	dark-imperial-blue:                             #00147E,
	space-cadet:                                    #1D2951,
	dark-blue-lapis-lazuli--rurikon:                #1B294B,
	dark-navy:                                      #02075D,
	navy-blue-bellflower--konkikyo:                 #191F45,
	dark-blue--kon:                                 #192236,
	elderberry:                                     #17182B,
	cetacean-blue:                                  #001440,
	coarse-wool-color--kachi-iro:                   #181B26,

	// Blue magenta (hue range 241-280°)
	magnolia:                                       #F8F4FF,
	pale-lavender:                                  #DCD0FF,
	soap:                                           #CEC8EF,
	mauve:                                          #E0B0FF,
	languid-lavender:                               #D6CADD,
	pale-violet:                                    #CC99FF,
	lavender-gray:                                  #C4C3D0,
	bright-lavender:                                #BF94E4,
	light-pastel-purple:                            #B19CD9,
	lenurple:                                       #BA93D8,
	lavender--floral:                               #B57EDC,
	violets-are-blue:                               #8366F4,
	silver--metallic:                               #AAA9AD,
	medium-slate-blue:                              #7B68EE,
	medium-purple:                                  #9370DB,
	dark-pastel-purple:                             #966FD6,
	lavender-indigo:                                #9457EB,
	ube:                                            #8878C3,
	rich-lavender:                                  #A76BCF,
	violet-blue--crayola:                           #766EC8,
	amethyst:                                       #9966CC,
	lavender-purple:                                #967BB6,
	middle-blue-purple:                             #8B72BE,
	purple-mountain-majesty:                        #9678B6,
	toolbox:                                        #746CC0,
	majorelle-blue:                                 #6050DC,
	slate-blue:                                     #6A5ACD,
	blue-violet--crayola:                           #7366BD,
	iris:                                           #5A4FCF,
	stained-red--benimidori:                        #78779B,
	han-purple:                                     #5218FA,
	purple--x11:                                    #A020F0,
	deep-lilac:                                     #9955BB,
	wisteria-color--fuji-iro:                       #89729E,
	blue-violet:                                    #8A2BE2,
	rhythm:                                         #777696,
	vivid-violet:                                   #9F00FF,
	electric-violet:                                #8F00FF,
	violet--color-wheel:                            #7F00FF,
	electric-indigo:                                #6F00FF,
	electric-ultramarine:                           #3F00FF,
	dark-orchid:                                    #9932CC,
	royal-purple:                                   #7851A9,
	wisteria-purple--fujimurasaki:                  #875F9A,
	plump-purple:                                   #5946B2,
	ocean-blue:                                     #4F42B5,
	mousy-wisteria--fujinezumi:                     #766980,
	dark-lavender:                                  #734F96,
	interdimensional-blue:                          #360CCC,
	grape:                                          #6F2DA8,
	french-violet:                                  #8806CE,
	purple-heart:                                   #69359C,
	rebecca-purple:                                 #663399,
	dark-slate-blue:                                #483D8B,
	blue-magenta-violet:                            #553592,
	safflower-color--benikakehana-iro:              #5A4F74,
	cyber-grape:                                    #58427C,
	dark-indigo--futaai:                            #614E6E,
	purple:                                         #6A0DAD,
	ksu-purple:                                     #512888,
	regalia:                                        #522D80,
	spanish-violet:                                 #4C2882,
	american-violet:                                #551B8C,
	neon-blue:                                      #1B03A3,
	metallic-violet:                                #5B0A91,
	blue-violet--color-wheel:                       #4D1A7F,
	pixie-powder:                                   #391285,
	jacarta:                                        #3D325D,
	persian-indigo:                                 #32127A,
	indigo:                                         #4B0082,
	deep-violet:                                    #330066,
	russian-violet:                                 #32174D,

	// Magenta (hue range 281-320°)
	pale-purple--pantone:                           #FAE6FA,
	pink-lace:                                      #FFDDF4,
	shampoo:                                        #FFCFF1,
	brilliant-lavender:                             #F4BBFF,
	rich-brilliant-lavender:                        #F1A7FE,
	lavender-rose:                                  #FBA0E3,
	thistle--crayola:                               #EBB0D7,
	thistle:                                        #D8BFD8,
	light-orchid:                                   #E6A8D7,
	pink-lavender:                                  #D8B2D1,
	bright-ube:                                     #D19FE8,
	tropical-violet:                                #CDA4DE,
	bright-lilac:                                   #D891EF,
	light-magenta:                                  #FF80FF,
	orchid--crayola:                                #E29CD2,
	light-fuchsia-pink:                             #F984EF,
	pale-magenta:                                   #F984E5,
	medium-lavender-magenta:                        #DDA0DD,
	wisteria:                                       #C9A0DC,
	fuchsia-pink:                                   #FF77FF,
	heliotrope:                                     #DF73FF,
	pink-flamingo:                                  #FC74FD,
	lavender-magenta:                               #EE82EE,
	shocking-pink--crayola:                         #FF6FFF,
	light-medium-orchid:                            #D39BCB,
	lilac:                                          #C8A2C8,
	rose-pink:                                      #FF66CC,
	light-grayish-magenta:                          #CC99CC,
	pastel-violet:                                  #CB99C9,
	light-deep-pink:                                #FF5CCD,
	pastel-purple:                                  #B39EB5,
	purple-pizzazz:                                 #FE4EDA,
	orchid:                                         #DA70D6,
	deep-mauve:                                     #D473D4,
	lilac-luster:                                   #AE98AA,
	glossy-grape:                                   #AB92B3,
	african-violet:                                 #B284BE,
	heliotrope-gray:                                #AA98A9,
	sky-magenta:                                    #CF71AF,
	opera-mauve:                                    #B784A7,
	rich-lilac:                                     #B666D2,
	razzle-dazzle-rose:                             #FF33CC,
	deep-amethyst:                                  #9C8AA4,
	medium-orchid:                                  #BA55D3,
	thin-color--usu-iro:                            #A87CA0,
	pearly-purple:                                  #B768A2,
	hot-magenta:                                    #FF1DCE,
	deep-fuchsia:                                   #C154C1,
	rose-quartz-pink:                               #BD559C,
	taupe-gray:                                     #8B8589,
	shocking-pink:                                  #FC0FC0,
	tatarian-aster-color--shion-iro:                #976E9A,
	purple-plum:                                    #9C51B6,
	fuchsia:                                        #FF00FF,
	phlox:                                          #DF00FF,
	steel-pink:                                     #CC33CC,
	vivid-orchid:                                   #CC00FF,
	electric-purple:                                #BF00FF,
	purpureus:                                      #9A4EAE,
	fashion-fuchsia:                                #F400A1,
	byzantine:                                      #BD33A4,
	vivid-mulberry:                                 #B80CE3,
	french-lilac:                                   #86608E,
	antique-fuchsia:                                #915C83,
	half-color--hashita-iro:                        #8D608C,
	fandango:                                       #B53389,
	chinese-violet:                                 #856088,
	old-lavender:                                   #796878,
	razzmic-berry:                                  #8D4E85,
	rum:                                            #716675,
	cadmium-violet:                                 #7F3E98,
	violet--crayola:                                #963D7F,
	dark-violet:                                    #9400D3,
	plum:                                           #8E4585,
	deep-magenta:                                   #CC00CC,
	purple--munsell:                                #9F00C5,
	heliotrope-magenta:                             #AA00BB,
	maximum-purple:                                 #733380,
	eminence:                                       #6C3082,
	violet--ryb:                                    #8601AF,
	iris-color--ayame-iro:                          #763568,
	bellflower-color--kikyo-iro:                    #5D3F6A,
	chinese-purple:                                 #720B98,
	flirt:                                          #A2006D,
	imperial:                                       #602F6B,
	byzantium:                                      #702963,
	quartz:                                         #51484F,
	english-violet:                                 #563C5C,
	midnight:                                       #702670,
	dark-byzantium:                                 #5D3954,
	palatinate-purple:                              #682860,
	purple-taupe:                                   #50404D,
	japanese-violet:                                #5B3256,
	dark-magenta:                                   #8B008B,
	mardi-gras:                                     #880085,
	philippine-violet:                              #81007F,
	patriarch:                                      #800080,
	purple--murasaki:                               #4F284B,
	american-purple:                                #431C53,
	rabbit-ear-iris--kakitsubata:                   #491E3C,
	deep-purple--kokimurasaki:                      #3A243B,
	dark-purple:                                    #301934,
	blue-violet--shikon:                            #2B2028,
	raisin-black:                                   #242124,

	// Magenta pink (hue range 321-330°)
	classic-rose:                                   #FBCCE7,
	light-hot-pink:                                 #FFB3DE,
	pale-magenta-pink:                              #FF99CC,
	pink-pearl:                                     #E7ACCF,
	kobi:                                           #E79FC4,
	princess-perfume:                               #FF85CF,
	persian-pink:                                   #F77FBE,
	hot-pink:                                       #FF69B4,
	middle-purple:                                  #D982B5,
	wild-orchid:                                    #D470A2,
	wild-strawberry:                                #FF43A4,
	rose-bonbon:                                    #F9429E,
	super-pink:                                     #CF6BA9,
	raspberry-pink:                                 #E25098,
	barbie-pink:                                    #E94196,
	persian-rose:                                   #FE28A2,
	strong-boy-pink:                                #E9399E,
	frostbite:                                      #E936A7,
	royal-pink:                                     #E73895,
	pink--pantone:                                  #D74894,
	barbie-pink--1999-2004:                         #F7238A,
	mulberry--crayola:                              #C8509B,
	philippine-pink:                                #FA1A8E,
	barbie-pink--1975-1990:                         #D3419D,
	deep-pink:                                      #FF1493,
	mountbatten-pink:                               #997A8D,
	mulberry:                                       #C54B8C,
	deep-cerise:                                    #DA3287,
	smitten:                                        #C84186,
	red-violet--crayola:                            #C0448F,
	barbie-pink--pantone:                           #E0218A,
	magenta--process:                               #FF0090,
	bright-pink:                                    #FF007F,
	winter-sky:                                     #FF007C,
	magenta-pink:                                   #CC338B,
	flickr-pink:                                    #FB0081,
	vivid-cerise:                                   #DA1D81,
	royal-fuchsia:                                  #CA2C92,
	mystic-maroon:                                  #AD4379,
	medium-red-violet:                              #BB3385,
	magenta--dye:                                   #CA1F7B,
	mexican-pink:                                   #E4007C,
	red-purple:                                     #E40078,
	magenta-haze:                                   #9F4576,
	maximum-red-purple:                             #A63A79,
	sugar-plum:                                     #914E75,
	medium-violet-red:                              #C71585,
	twilight-lavender:                              #8A496B,
	amaranth-deep-purple:                           #9F2B68,
	boysenberry:                                    #873260,
	jazzberry-jam:                                  #A50B5E,
	dark-raspberry:                                 #872657,
	eggplant:                                       #614051,
	halaya-ube:                                     #663854,
	dark-liver:                                     #534B4F,
	vine-grape--ebizome:                            #6D2B50,
	french-plum:                                    #811453,
	pansy-purple:                                   #78184A,
	disappearing-purple--metsushi:                  #3F313A,
	spanish-purple:                                 #66033C,
	imperial-purple:                                #66023C,
	dark-red--kurobeni:                             #23191E,

	// Pink (hue range 331-345°)
	lavender-blush:                                 #FFF0F5,
	piggy-pink:                                     #FDDDE6,
	mimi-pink:                                      #FFDAE9,
	cotton-candy:                                   #FFBCD9,
	queen-pink:                                     #E8CCD7,
	little-girl-pink:                               #F8B9D4,
	orchid-pink:                                    #F2BDCD,
	cameo-pink:                                     #EFBBCC,
	lavender-pink:                                  #FBAED2,
	carnation-pink:                                 #FFA6C9,
	nadeshiko-pink:                                 #F6ADC6,
	metallic-pink:                                  #EDA6C4,
	baker-miller-pink:                              #FF91AF,
	pastel-magenta:                                 #F49AC2,
	harmonious-rose:                                #F29CB7,
	amaranth-pink:                                  #F19CBB,
	flamingo-pink:                                  #FC8EAC,
	tickle-me-pink:                                 #FC89AC,
	vanilla-ice:                                    #F38FA9,
	charm-pink:                                     #E68FAC,
	french-pink:                                    #FD6C9E,
	cyclamen:                                       #F56FA1,
	light-crimson:                                  #F56991,
	barbie-pink--1990-1999:                         #F364A2,
	strawberry:                                     #FC5A8D,
	puce:                                           #CC8899,
	brilliant-rose:                                 #FF55A3,
	chinese-pink:                                   #DE70A1,
	china-pink:                                     #DE6FA1,
	pale-red-violet:                                #DB7093,
	violet-red--light:                              #F75394,
	sasquatch-socks:                                #FF4681,
	charm:                                          #D0748B,
	french-rose:                                    #F64A8A,
	barbie-pink--2005-2009:                         #FC419A,
	french-fuchsia:                                 #FD3F92,
	barbie-pink--1959-1975:                         #E85395,
	dark-pink:                                      #E75480,
	blush:                                          #DE5D83,
	barbie-pink--2004-2005:                         #FF3988,
	english-lavender:                               #B48395,
	red-wisteria--benifuji:                         #BB7796,
	fandango-pink:                                  #DE5285,
	cinnamon-satin:                                 #CD607E,
	mystic:                                         #D65282,
	cerise-pink:                                    #EC3B83,
	electric-pink:                                  #F62681,
	ruber:                                          #CE4676,
	magenta--pantone:                               #D0417E,
	cerise:                                         #DE3163,
	fuchsia-rose:                                   #C74375,
	razzmatazz:                                     #E3256B,
	fuchsia-purple:                                 #CC397B,
	telemagenta:                                    #CF3476,
	american-rose:                                  #FF033E,
	vivid-raspberry:                                #FF006C,
	folly:                                          #FF004F,
	electric-crimson:                               #FF003F,
	spanish-crimson:                                #E51A4C,
	rose-dust:                                      #9E5E6F,
	china-rose:                                     #A8516E,
	irresistible:                                   #B3446C,
	red--munsell:                                   #F2003C,
	ruby:                                           #E0115F,
	mauve-taupe:                                    #915F6D,
	dogwood-rose:                                   #D71868,
	raspberry:                                      #E30B5D,
	medium-ruby:                                    #AA4069,
	bright-maroon:                                  #C32148,
	debian-red:                                     #D70A53,
	rose-red:                                       #C21E56,
	maroon--x11:                                    #B03060,
	ua-red:                                         #D9004C,
	tree-peony--botan:                              #A4345D,
	carmine--mp:                                    #D70040,
	utah-crimson:                                   #D3003F,
	amaranth-purple:                                #AB274F,
	rubine-red:                                     #D10056,
	spanish-carmine:                                #D10047,
	royal-red--purple:                              #D00060,
	plum-purple--umemurasaki:                       #8F4155,
	pictorial-carmine:                              #C30B4E,
	vivid-crimson:                                  #CC0033,
	french-wine:                                    #AC1E44,
	quinacridone-magenta:                           #8E3A59,
	red--ncs:                                       #C40233,
	deep-ruby:                                      #843F5B,
	big-dip-oruby:                                  #9C2542,
	crimson-glory:                                  #BE0032,
	alabama-crimson:                                #AF002A,
	deep-tuscan-red:                                #66424D,
	grape-mouse--budonezumi:                        #63424B,
	violet-red:                                     #891446,
	pink-raspberry:                                 #980036,
	old-mauve:                                      #673147,
	rose-garnet:                                    #960145,
	claret:                                         #7F1734,
	burgundy:                                       #800020,
	brown-chocolate:                                #5F1933,
	light-chocolate-cosmos:                         #551F2F,
	dark-scarlet:                                   #560319,
	chocolate-kisses:                               #3C1421,
	dark-chocolate--hersheys:                       #3C1321,
	chocolate-brown:                                #3F000F,

	// Pink red (hue range 346-355°)
	pale-pink:                                      #FADADD,
	bubble-gum:                                     #FFC1CC,
	pink:                                           #FFC0CB,
	cherry-blossom-pink:                            #FFB7C5,
	light-pink:                                     #FFB6C1,
	salmon-pink:                                    #FF91A4,
	sweet-sixteen:                                  #F29EAB,
	flower-girl:                                    #F498AD,
	mauvelous:                                      #EF98AA,
	pink-sherbet:                                   #F78FA7,
	parrot-pink:                                    #D998A0,
	ruddy-pink:                                     #E18E96,
	black-shadows:                                  #BFAFB2,
	peach-colored--momo-iro:                        #F47983,
	ultra-red:                                      #FC6C85,
	shimmering-blush:                               #D98695,
	brink-pink:                                     #FB607F,
	fiery-rose:                                     #FF5470,
	light-carmine-pink:                             #E66771,
	infra-red:                                      #FF496C,
	magic-potion:                                   #FF4466,
	neon-fuchsia:                                   #FE4164,
	sizzling-red:                                   #FF3855,
	red-salsa:                                      #FD3A4A,
	red-plum-colored--kobai-iro:                    #DB5A6B,
	radical-red:                                    #FF355E,
	turkish-rose:                                   #B57281,
	desire:                                         #EA3C53,
	rose-gold:                                      #B76E79,
	paradise-pink:                                  #E63E62,
	awesome:                                        #FF2052,
	opera-red:                                      #FF1B2D,
	dark-terra-cotta:                               #CC4E5C,
	imperial-red:                                   #ED2939,
	amaranth:                                       #E52B50,
	bazaar:                                         #98777B,
	red--crayola:                                   #EE204D,
	sprint-red:                                     #EC2131,
	popstar:                                        #BE4F62,
	brick-red:                                      #CB4154,
	tractor-red:                                    #FD0E35,
	alizarin-crimson:                               #E32636,
	rocket-metallic:                                #8A7F80,
	rusty-red:                                      #DA2C43,
	deep-puce:                                      #A95C68,
	medium-crimson--nakabeni-dye:                   #C93756,
	carmine-red:                                    #FF0038,
	ruddy:                                          #FF0028,
	dingy-dungeon:                                  #C53151,
	french-raspberry:                               #C72C48,
	crimson:                                        #DC143C,
	medium-candy-apple-red:                         #E2062C,
	foreign-crimson--karakurenai:                   #C91F37,
	spanish-red:                                    #E60026,
	cadmium-red:                                    #E30022,
	stop-red:                                       #CF142B,
	cardinal:                                       #C41E3A,
	lava:                                           #CF1020,
	philippine-red:                                 #CE1127,
	huawei-red:                                     #CF0A2C,
	rambutan:                                       #C71232,
	chinese-red:                                    #CD071E,
	american-red:                                   #B32134,
	blood-orange:                                   #D1001C,
	deep-carmine:                                   #A9203E,
	cordovan:                                       #893F45,
	japanese-carmine:                               #9D2933,
	wine-red:                                       #B11226,
	cadmium-purple:                                 #B60C26,
	solid-pink:                                     #893843,
	red-violet--color-wheel:                        #922B3E,
	vivid-burgundy:                                 #9F1D35,
	youtube-red:                                    #B2071D,
	royal-red:                                      #9B1C31,
	ruby-red:                                       #9B111E,
	catawba:                                        #703642,
	sappanwood--suo:                                #7E2639,
	puce-red:                                       #722F37,
	antique-ruby:                                   #841B2D,
	carmine:                                        #960018,
	dark-puce:                                      #4F3A3C,
	red-devil:                                      #860111,
	purple-kite--murasakitobi:                      #512C31,
	pomegranate:                                    #660C21,
	chocolate-cosmos:                               #58111A,
	fake-purple--nisemurasaki:                      #43242a,
	rosewood:                                       #65000B,
	temptress:                                      #3C2126
}