# Idea Folder
/.idea

# Build
/build

# Gradle
/.gradle
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar

# Build
/backends/build

# Gradle
/backends/.gradle
/backends/gradlew
/backends/gradlew.bat
/backends/gradle/wrapper/gradle-wrapper.jar
/cereal-lib/.gradle
/cereal-lib/gradlew
/cereal-lib/gradlew.bat
/cereal-lib/gradle/wrapper/gradle-wrapper.jar