# Idea Folder
/.idea

# Build
/build

# Gradle
/.gradle
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar

# Build
/backends/build

# Gradle
/backends/.gradle
/backends/gradlew
/backends/gradlew.bat
/backends/gradle/wrapper/gradle-wrapper.jar